@page
{
margin:1em;
}
body
{
margin-left:3.5%;
margin-right:30px;
font-family:sans-serif;
}
table
{
width:100%;
text-align:left;
}
td
{
vertical-align:top;
}
img
{
max-width:100%;
max-height:100%;
}
small
{
font-size:80%;
}
sup
{
font-size:80%;
vertical-align:super;
line-height:1ex;
}
sub
{
font-size:80%;
vertical-align:sub;
line-height:1ex;
}
span.Smallcaps
{
font-variant:small-caps;
}
span.Underline
{
text-decoration:underline;
}
span.Overline
{
text-decoration:overline;
}
span.Strike
{
text-decoration:line-through;
}
a
{
text-decoration:none;
}
span.black
{
color:#000000;
-webkit-text-fill-color:#000000;
}
table
{
border-collapse:collapse;
border-spacing:0;
}
p.P0
{
text-align:right;
margin-right:3.5em;
margin-top:0em;
margin-bottom:0em;
font-size:170%;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.P1
{
text-align:left;
margin-left:6em;
margin-top:0em;
margin-bottom:0em;
font-size:260%;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.C235
{
text-align:center;
margin-top:3em;
margin-bottom:0em;
font-size:220%;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.C202
{
text-align:center;
margin-top:2em;
margin-bottom:0em;
font-size:250%;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.C176
{
margin-top:0em;
margin-bottom:0em;
font-size:0.75em;
line-height:1.4em;
text-indent:0em;
text-align:left;
}
p.C239
{
margin-bottom:0em;
margin-top:1em;
text-align:center;
text-indent:0em;
}
p.C197
{
text-align:center;
margin-top:2em;
margin-bottom:0em;
font-size:120%;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.P9
{
text-align:left;
margin-left:10.75em;
margin-top:0em;
margin-bottom:0em;
font-size:280%;
color:#FFFFFF;
text-indent:0em;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.P10
{
text-align:left;
margin-left:10.75em;
margin-top:0em;
margin-bottom:11px;
font-size:50%;
color:#FFFFFF;
text-indent:0em;
}
p.C233
{
text-align:center;
margin-top:0em;
margin-bottom:0em;
font-size:0.75em;
line-height:1.4em;
text-indent:0em;
}
p.C242
{
margin-top:3em;
margin-bottom:0em;
font-size:0.75em;
line-height:1.4em;
text-indent:0em;
text-align:left;
}
p.C175
{
margin-top:1em;
margin-bottom:0em;
font-size:0.75em;
line-height:1.4em;
text-indent:0em;
text-align:left;
}
p.C142
{
margin-top:2.5em;
margin-bottom:1.5em;
font-size:140%;
text-indent:0em;
text-align:left;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.C125
{
margin-top:0em;
margin-bottom:0em;
font-size:0.82em;
line-height:1.4em;
text-indent:0em;
text-align:left;
}
p.C129
{
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
font-size:0.82em;
line-height:1.4em;
text-align:left;
}
p.C138
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
font-size:0.82em;
line-height:1.4em;
text-indent:0em;
}
p.C173
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
font-size:0.82em;
text-indent:0em;
}
p.C308
{
margin-top:3em;
margin-bottom:1em;
font-size:140%;
margin-left:3.5em;
text-indent:-3.5em;
text-align:left;
-webkit-hyphens:none !important;
adobe-hyphenate:none !important;
-moz-hyphens:none !important;
epub-hyphens:none !important;
}
p.C148
{
text-align:center;
margin-top:1em;
margin-bottom:0em;
font-size:0.82em;
text-indent:0em;
}
p.C153
{
text-align:center;
margin-top:0em;
margin-bottom:0em;
font-size:0.82em;
text-indent:0em;
}
p.C155
{
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
font-size:0.82em;
text-indent:0em;
}
p.C285
{
margin-top:0em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
p.C231
{
margin-top:0em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
p.C245
{
margin-top:5em;
margin-bottom:0em;
font-size:0.82em;
line-height:1.4em;
text-align:center;
text-indent:0em;
}
p.C286
{
margin-top:0em;
margin-bottom:1em;
font-size:0.7em;
text-align:center;
line-height:1.4em;
color:#6c6e71;
text-indent:0em;
}
table.C325
{
margin-top:3em;
margin-bottom:2em;
width:100%;
}
table.C354
{
font-size:0.9em;
margin-bottom:0em;
margin-top:0em;
width:100%;
}
td.C318
{
vertical-align:middle;
font-size:115%;
}
td.C326
{
vertical-align:middle;
}
td.C323
{
vertical-align:middle;
font-size:140%;
padding-left:0.5em;
padding-top:0.3em;
}
td.C324
{
vertical-align:middle;
font-size:140%;
padding-left:0.5em;
padding-top:1.5em;
}
td.T313_Column1
{
padding-right:0.25em;
}
td.T313_Column2
{
padding-left:0.25em;
}
td.T331_Column1
{
padding-right:0.25em;
}
td.T331_Column2
{
padding-left:0.25em;
}
td.T333_Column1
{
padding-right:0.25em;
}
td.T333_Column2
{
padding-left:0.25em;
}
td.T337_Column1
{
padding-right:0.25em;
}
td.T337_Column2
{
padding-left:0.25em;
}
td.T339_Column1
{
padding-right:0.25em;
}
td.T339_Column2
{
padding-left:0.25em;
}
td.T350_Column1
{
text-align:right;
vertical-align:top;
}
td.T350_Column2
{
text-align:left;
vertical-align:top;
}
td.T351_Column1
{
text-align:right;
vertical-align:top;
padding-top:1.5em;
}
td.T351_Column2
{
text-align:left;
vertical-align:top;
padding-top:1.5em;
}
span.C171
{
padding-right:0.5em;
}
span.C255
{
font-size:0.9em;
}
img.Image57
{
width:80%;
}
img.Image58
{
width:90%;
}
img.C248
{
width:5%;
vertical-align:middle;
}
img.C316
{
width:100%;
vertical-align:middle;
}
img.C284
{
width:40%;
}
.width
{
width:100%;
}